<footer class="app-footer">
    <div class="footer-content">

     <!-- <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="locationChosen($event)">
        <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="isLocationChosen">
          <agm-snazzy-info-window [backgroundColor]="black" [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
             Japan
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
    </agm-map> -->

    <div class="g">
      <p>© 2018 BMIT</p>
    </div>

   </div>

  </footer>
